.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b2f; /* Match the background color */
  border-radius: 20px;
}

.wavy-border {
  padding: 10px;
  position: relative;
  max-width: 800px;
  aspect-ratio: 3/ 4;
  overflow: hidden;
  max-height: 100%;
  border-radius: 20px;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 6px solid #6610f2;
  overflow: hidden;
  animation: form-anim 1.5s infinite ease-in-out alternate;
}

@keyframes form-anim {
  0% {
    border-color: #0d6efd;
  }
  50% {
    border-color: #6f42c1;
  }
  100% {
    border-color: #6610f2;
  }
}
